<div class="fixpos">
    <mat-toolbar class="header">
        <div class="logo" routerLink="/adminhome/adminbooks">
            <img src="../../../assets/education (1).svg" alt="">
            <p>Bookstore</p>
        </div>
        <div class="search-container" (keyup)="searchBook($event)">
            <div class="s-btn" type="button">
                <img src="../../../assets/search.svg">
            </div>
            <div class="srch">
                <input class="search-field" type="text" aria-label="search" placeholder="Search" autocomplete="off"
                    role="combobox" aria-hidden="false">
            </div>
        </div>
        <button mat-icon-button class="profile">
            <mat-icon [matMenuTriggerFor]="menu">
                <img src="../../../assets/person_white_24dp.svg" alt="">
            </mat-icon>
            <label>Profile</label>
        </button>
    
        <mat-menu #menu="matMenu" class="menu-field">
            <div class="bg">
                <h4>Welcome Admin</h4>
                <button class="login-btn" (click)="Logout()">Logout</button>
                <hr>
                <div class="order" routerLink="/adminhome/orders">
                    <img src="../../../assets/markunread-mailbox.svg" alt="">
                    <p>All Orders</p>
                </div>
            </div>
        </mat-menu>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>