.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 227px;
    margin-right: 240px;
}

.books {
    font-size: 27px;
    font-family: 'Roboto';
    margin-top: 21px;
}
table,
th,
td {
    border: 1px solid rgb(116, 106, 106);
}

.src {
    width: 200px;
    height: 200px;
}
.tbl{
    margin: 1px;
    margin-left: 229px;
    margin-right: -210px;
}
.header{
    margin-top: 1px;
    margin-left: 30px;
}
.page {
    margin-left: 299px;

}
.update{
    margin-top: 16px;
}
.delete{
    margin-top: 16px;
}
.Addbook{
    margin: 1px;
}
.Addbook button{
    margin: 1px;
}
.demo-button-container {
    padding-bottom: 16px;
    margin-left: 231px;
  }
  
  .demo-button {
    margin-left: -1px;
    height: 42px;
    width: 131px;
    font-size: 20px;
    font-family: monospace;
  }
  table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}