<mat-toolbar class="header">
    <div class="logo">
        <img src="../../../assets/education (1).svg" alt="">
        <p>Bookstore</p>
    </div>
    <div class="search-container">
        <div class="s-btn" type="button">
            <img src="../../../assets/search-1300-439394.png">
        </div>
        <div class="srch">
            <input class="search-field" type="text" aria-label="search" placeholder="Search" autocomplete="off"
                role="combobox" aria-hidden="false">
        </div>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="profile">
        <mat-icon [matMenuTriggerFor]="menu">
            <img src="../../../assets/person_white_24dp.svg" alt="">
        </mat-icon>
        <label>Profile</label>
    </button>
    <mat-menu #menu="matMenu" class="menu-field">
        <div fxLayout="row wrap" style="padding-left: 8px;" fxLayout="row" fxLayoutAlign="none" class="bg">
            <div>
                <h4>Welcome</h4>
                <p>To acsess account and manage orders</p>
                <button class="login-btn" routerLink="/home/login">Login/SignUp</button>
            </div>
        </div>
    </mat-menu>
    <button mat-icon-button class="cart" aria-label="Example icon-button with share icon">
        <mat-icon>
            <img src="../../../assets/shopping_cart_white_24dp.svg" alt="">
        </mat-icon>
        <label>Cart</label>
    </button>
</mat-toolbar>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<div class="footer">
<p>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</p>
</div>