.main-container {
    top: 0px;
    left: 0px;
    width: 1536px;
    height: 768px;
    /* UI Properties */
    background: transparent;
    // opacity: 0.31;
    display: flex;
    flex-direction: row;
    position: relative;

}

.left-container {
    top: 185px;
    left: 320px;
    width: 624px;
    height: 391px;
    /* UI Properties */
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    margin-top: 189px;
    margin-left: 450px;

}

.right-container {
    top: 166px;
    left: 658px;
    width: 406px;
    height: 537px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 16%);
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
    margin-top: 122px;
    margin-left: -214px;
    margin-right: 376px;
}

.logo {
    margin-top: 40px;
    border-radius: 50% !important;
    width: 207px;
    height: 207px;
    margin-left: 61px;
}

p {
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: uppercase;
    margin-left: 84px;
    margin-top: 18px;
}

.login-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    margin-top: 14px;
    padding: 6px;
    margin-bottom: 11px;
}

.login-head button {
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    font-weight: lighter;
    font: normal normal medium 25px/33px Roboto;
}

.input-field {
    margin: 0rem;
    height: 58px;
    padding: 0px 40px;
    margin-bottom: 7rem;
    margin-left: 8px;
    margin-top: -13px;
    width: 325px;
}

.pass-field {
    margin: 0rem;
    height: 20px;
    padding: 4px 9px;
    margin-bottom: 1rem;
    margin-left: 40px;
    margin-top: -84px;
    width: 325px;
}

.label {
    top: 257px;
    left: 727px;
    width: 36px;
    height: 13px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
}

.forget-pass {
    margin: 2rem;
    padding: 1rem;
    margin-left: 180px;
    color: #9D9D9D;
    margin-bottom: -3px;
}

.form-control {
    width: 255px;
}

.button {
    background-color: #A03037;
    border: none;
    color: white;
    padding: 11px 107px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
    /* margin-bottom: -35px; */
    margin-top: -44px;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 55px;
}

.mat-form-field {
    padding: 0rem;
    width: 94%;
}
.admin {
    background-color: #e0e0e0;
    border: none;
    color: white;
    padding: 11px 112px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
    /* margin-top: -94px; */
    cursor: pointer;
    border-radius: 6px;
    margin-left: 55px;
}
.adminBtn{
    margin: 1px;
    background: transparent;
    border: navajowhite;
}
.or{
    margin: 1px;
    margin-left: 180px;
    margin-top: 14px;
}

@media only screen and (min-width: 350px) and (max-width: 853px) {
    .left-container {
        margin: 1px;
        // border: solid;
        width: 23%;
        height: 34%;
    }

    .logo {
        margin: 1px;
        width: 116px;
        height: 104px;
    }

    .left-container p {
        margin: 1px;
        margin-left: 141px;
        margin-top: -78px;
        font-family: cursive;
    }

    .right-container {
        // border: solid;
        width: 342px;
        margin-left: -349px;
        margin-top: 127px;
    }

    .form-field {
        margin: 1px;
        margin-left: -22px;
    }
    .forget-pass{
        margin-left: 178px;
    }
}